.close-menu {
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  background: white;
  transition: 0.3s ease;
}

.close-menu-modal {
  width: 36px;
  height: 36px;
  top: -18px;
  right: -18px;
  background: white;
  transition: 0.3s ease;
}

.close-menu:hover,
.close-menu-modal:hover {
  cursor: pointer;
  background: rgb(240, 240, 240);
}
