:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 500;
  color: rgb(44, 60, 68);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="search"]::placeholder {
  font-weight: bold;
  font-size: 14px; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

.wrapper {
  display: flex;
}

.main {
  min-height: calc(100vh - 96px);
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}

.p-10 {
  padding: 5rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.delete-icon {
  transition: background-color 0.25s ease;
}

.delete-icon:hover {
  cursor: pointer;
  background-color: #6b6b6b41;
}

.w-15px {
  width: 15px;
}

.width-17px {
  width: 17px;
}

.w-20px {
  width: 20px
}

.w-25px {
  width: 25px
}

.w-50px {
  width: 50px
}

.w-h-50px {
  width: 50px; 
  height: 50px;
}

.w-h-20px {
  width: 20px; 
  height: 20px;
}

.max-w-full-180px {
  max-width: 180px; 
  width: 100%;
}

.min-w-15px {
  min-width: 15px;
}

.min-w-80px {
  min-width: 80px;
}

.min-w-450px {
  min-width: 450px;
}

.min-w-150px {
  min-width: 150px;
}

.min-w-250px {
  min-width: 250px;
}

.min-w-400px {
  min-width: 400px;
  width: 400px;
}

.min-w-100px {
  min-width: 100px;
}

.min-w-120px {
  min-width: 120px;
}

.min-h-35px {
  min-height: 35px;
}

.filter-clear {
  width: 35px; 
  height: 35px; 
  transition: background-color 0.25s ease;
}

.filter-clear:hover {
  cursor: pointer;
  background-color: #6b6b6b41;
}

.col-green-bg {
  background-color: rgb(139, 195, 74);
}

.letter-spacing-75 {
	letter-spacing: 0.75px;
}

.border-radius-25px {
  border-radius: 25px;
}

.me-7rem {
  margin-right: 7rem;
}

.plus-icon-bg {
  width: 40px; 
  height: 40px; 
  background-color: green; 
  border: 2px solid orange;
}

.custom-select {
  width: 200px; 
  outline: none;
}

.bg-light-primary {
  background-color: rgb(240, 243, 245);
}

.icon-white {
  color: white;
}

.icon-clock-green {
  color: rgb(129, 190, 57)
}

.mb-2px {
  margin-bottom: 2px;
}

.text-grey-light {
  color: rgb(150, 168, 178)
}

.fsz-11px {
  font-size: 11px;
}