.order-list-icon {
	width: 35px;
	height: 35px;
	background: transparent;
	transition: background-color 0.25s ease;
}

.order-list-icon:hover {
	cursor: pointer;
	background-color: rgb(138, 194, 74);
}

.order-opened {
	width: 50px;
	background: rgb(207, 216, 220);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}