.status {
	min-width: 15px;
	height: 15px;
	border-radius: 50%;
}

.status_available {
	color: orange;
	background-color: orange;
}
.status_available_text {
	color: orange;
}

.status_notavailable {
	background-color: red;
}